exec permissions.cfg
# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set es_enableCustomData 1

set mysql_connection_string "server=localhost;userid=root;password=;database=es_extended"


# EXM Yetkilendirme
add_principal group.admin group.user
add_ace resource.extendedmode command.add_ace allow
add_ace resource.extendedmode command.add_principal allow
add_ace resource.extendedmode command.remove_principal allow

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog


# Base
ensure mysql-async
ensure async
ensure extendedmode
ensure skinchanger
ensure vMenu						#PAGEUP PAGEDOWN	
ensure cron							#Kasa Ve Sistemler İcin


# Telefon 
ensure esx_addons_gcphone
ensure gcphone
ensure screenshot-basic
ensure xsound


# Car
#ensure speedoambo
#ensure np-policepack

# UI		
ensure Carhud						#Arac Hud u
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure hud							#Can Barı Hud u
ensure mythic_notify
ensure mythic_progbar
ensure np-alerts
ensure progressBars

# ESX
#ensure esx_accessories
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_ambulancejob
ensure esx_armor
ensure esx_basicneeds
ensure esx_billing
ensure esx_carwash
ensure esx_clotheshop
ensure esx_communityservice
ensure esx_datastore
ensure esx_dmvschool
ensure esx_doorlock
ensure esx_garage
ensure esx_identity
ensure esx_jail
ensure esx_jobs
ensure esx_license
ensure esx_locksystem
ensure esx_lscustom
ensure esx_marker
ensure esx_mechanicjob
ensure esx_policejob
ensure esx_property
ensure esx_repairkit
ensure esx_service
ensure esx_showcommands
ensure esx_skin
ensure esx_society
ensure esx_status
ensure esx_vehicleshop

# Banka Soygunu
ensure utk_ornateheist			#Banka Soygunu Script

# M3
ensure disc-ammo
#ensure m3_admin
#ensure m3_backup
#ensure m3_gps
ensure m3_inventoryhud
ensure m3_motel
ensure m3_shoprobbery
ensure m3_fsociety
#ensure m3_vehiclelock

# Map
ensure AutoExotics
ensure beanmachine
ensure bennys
ensure dynasty8
ensure gabz_harmony
ensure gabz_imp_garage
ensure gabz_mrpd
ensure gabz_pillbox
ensure parkranger
ensure patocheprison
ensure pinkcage
ensure UncleJust_Court_House

# NON
ensure 3ddo							#/do
ensure 3dme							#/me
ensure loadscreen					#Yükleme Ekranı
ensure nonpc
ensure hsn-stashouse
ensure np-fuel						#Benzinlikler
ensure orp-banking					#/atm ve Banka
ensure carmenu
ensure discordrich					#Discord Oynuyor
#ensure maddeX
ensure rolexsatis
#ensure np-menu
ensure RealisticVehicleFailure		#Araba Hasar Sistemi
ensure minimap						#Renkli Harita
ensure np-tackle
ensure dpemotes						#F3 Emote
#ensure dpclothing
ensure toggleid						#Alt Tuşu İd Gösterme
ensure instance
ensure duyuru						#/duyuru Duyuru Atma
ensure handsup						#X El Kaldırma
ensure surunme						#Z Tuşu Sürünme
ensure takehostage
ensure mtracker						#Hack İcin Kullanılıyor
ensure mhacking						#Hack İcin Kullanılıyor
ensure dsmoke                       #F10 Arac Lastik Smoke'u
ensure npc-doktor					#Npc Doktor
ensure lux_vehcontrol				#Arac Siren Sistemi
ensure pNotify
ensure NativeUI


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "tr-TR" 


# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Kaypuz Karizma Paket"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# enable OneSync (required for server-side state awareness)
+set onesync on

+set sv_enforceGameBuild 2060

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "CA2EE5366CCB2282DB9D324DAFE384E9"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ru19ocycb8horm4mj5p6ln476twji2c5

add_ace group.god command allow 					# allow all commands
add_ace group.god command.quit deny 				# but don't allow quit
add_ace group.god inventory.openinventory allow 	# envanteri acar
add_ace group.god announce allow 

add_ace group.moderator inventory.openinventory allow 	# envanteri acar
add_ace group.moderator announce allow 

add_ace group.duyuru announce allow
add_ace group.duyuru inventory.openinventory allow



setr vmenu_disable_entity_outlines_tool false

#####VMENU-YETKILER#####
add_principal identifier.steam:11000010944d838 group.god # Can RCD


# STAFF ROLÜ #

add_ace group.moderator command.wladd allow
add_ace group.moderator command.wlrefresh allow
add_ace group.moderator command.goto allow
add_ace group.moderator command.bring allow
add_ace group.moderator command.rev allow
add_ace group.moderator command.tpm allow
add_ace group.moderator command.meslekver allow
add_ace group.moderator command.duyuru allow
add_ace group.moderator command.silahver deny
add_ace group.moderator command.araba deny
add_ace group.moderator command.itemver deny